@tailwind base;
@tailwind components;
@tailwind utilities;

.transition {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  /*Ajoutd'uneffetdefondu*/
  background: #754ffe;
  pointer-events: none;
  counter-reset: menucounter;
  z-index: 100;
  animation: transition-of-pages 2.5s forwards;
  -webkit-animation: transition-of-pages 2.5s forwards;
}

@keyframes transition-of-pages {
  0% {
    transform-origin: right;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  50% {
    transform: translateX(0);
    animation-delay: 850ms;
  }

  100% {
    transform-origin: left;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
